@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/*@font-face {
    font-family: Fang-Zheng-Song;
    src: url("./FangZhengSong.woff2") format('woff2');
    font-display: swap;
}*/

/*.animate-waveHand {
    animation: wavingHand 1.5s ease-in-out infinite;
}
@keyframes wavingHand {
    0% {
        transform: none;
        transform-origin:70% 70%
    }

    25% {
        transform: rotate3d(1, 1, 1, -15deg);
        transform-origin:70% 70%
    }

    50% {
        transform: rotate3d(1, 1, 1, 15deg);
        transform-origin:70% 70%
    }

    75% {
        transform: rotate3d(1, 1, 1, -15deg);
        transform-origin:70% 70%
    }

    to {
        transform: none;
        transform-origin:70% 70%
    }
}
.cursor-pointer {
    cursor: pointer;
}*/

/*@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake-element {
  animation: shake 1s infinite;
}*/

.items-center {
    display:flex;
/*    margin-right: .8rem;*/
    border-bottom: .05rem solid var(--md-default-fg-color--lightest);
}
.md-typeset .items-center-text {
    margin: auto 0;
}
[dir=ltr] .md-typeset ul li {
    font-family: Times New Roman, PingFang SC Light, PingFang SC, Noto Sans SC, Noto Serif SC, Serif;
}
.md-typeset .items-center-text h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
.md-typeset .items-center-text p {
    font-size: .7rem;
    padding: 0;
    margin-top: 0;
}
.items-center-left {
    align-items: center;
    font-size: 2rem;
    display:flex;
    padding: 5px;
    margin-right: .5rem;
    float:left;
}

:root, [data-md-color-scheme=default] {
    --md-default-fg-color--light: #0000006b;
    --md-default-fg-color--lighter: #00000024;
}

del {
    text-decoration-thickness: .5px;
}
.md-typeset a:hover {
    text-decoration: underline;
    color: var(--md-typeset-a-color);
}
.md-typeset a {
    transition: none;
}

.md-nav--secondary .md-nav__title {
    background: none;
    box-shadow: none;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

[dir=ltr] .md-sidebar__inner {
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding: 20px 0;
}
[data-md-color-scheme="slate"] .md-sidebar__inner {
    border: 1px solid #555555;
    background-color: #222222;
}

.v[data-class=v] .vtime, .v[data-class=v] .vsys {
    color: #dddddd;
}
.md-typeset {
    font-size: .8rem;
    line-height: 1.75;
}
.md-typeset p {
    font-family: Times New Roman, PingFang SC Light, PingFang SC, Noto Sans SC, Noto Serif SC, Serif;
}
.md-nav {
    font-size: .75rem;
    line-height: 1.5;
}
.md-sidebar__scrollwrap {
    margin: 0 1rem;
}
.md-sidebar__scrollwrap::-webkit-scrollbar {
    display: none;
  }
.md-grid {
    max-width: 65rem;
    margin-top: .3rem;
}
.md-tabs__link {
    font-weight: 600;
    font-size: .8rem;
}
.md-search {
    margin-right: .5rem;
}
.md-header__button.md-logo {
    margin: .2rem .5rem;
}

.md-container {
    background-image: linear-gradient(rgba(50, 0, 0, 0.02) 1px, transparent 0), linear-gradient(90deg, rgba(50, 0, 0, 0.02) 1px, transparent 0);
    background-size: 60px 60px;
}
.namecard {
    line-height: 1.5;
    padding: 0 15px;
/*    font-size: .95em;*/
    font-size: .8rem;
    margin-bottom: 1rem;
}

.warp-post-embed {
    background-image: url(https://static.ouorz.com/link.png);
    background-position: 100%;
    background-repeat: no-repeat;
    border-radius: .5rem;
    border-width: 1px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .6);
    margin: 15px 0;
    opacity: .7;
    overflow: hidden;
    padding: 5px 30px 10px;
    position: relative;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: opacity 0.3s;
}

.warp-post-embed:is(.dark *) {
    --tw-border-opacity: 1;
    border-color: rgb(115 115 115);
    --tw-bg-opacity: 1;
    background-color: rgb(64 64 64);
    background-image:none
}

.warp-post-embed:hover {
    opacity:1
}

.warp-post-embed .embed-content {
    margin-right: 20%;
    overflow: hidden;
    text-overflow:ellipsis
}

.warp-post-embed a {
    text-decoration:none
}

.warp-post-embed .embed-content p {
    color: #888;
    display: block;
    font-size: 13px;
    font-style:normal
}

.warp-post-embed .embed-content p:is(.dark *) {
    --tw-text-opacity: 1;
    color:rgb(163 163 163/var(--tw-text-opacity))
}

.warp-post-embed .embed-content p {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top:0
}

.warp-post-embed .embed-content b {
    background: #eee;
    color:#999
}

.warp-post-embed .embed-content b:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(229 229 229/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color:rgb(82 82 82/var(--tw-bg-opacity))
}

.warp-post-embed .embed-content b {
    border-radius: 50px;
    font-weight: 500 !important;
    padding:1px 8px 3px 9px
}

.warp-post-embed .embed-content h2 {
    color:rgba(0, 0, 0, .8)
}

.warp-post-embed .embed-content h2:is(.dark *) {
    --tw-text-opacity: 1;
    color:rgb(245 245 245/var(--tw-text-opacity))
}

.warp-post-embed .embed-content h2 {
    display: block;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 8px;
    margin-top: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}

.warp-post-embed .embed-bg {
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    float: right;
    height: 100px;
    margin-left: 12px;
    vertical-align: middle;
    width:100px
}

.brief {
    font-size: .75rem;
    font-family: PingFang SC, 'Noto Sans SC';
}
.md-typeset code {
/*    background-color: rgba(255, 255, 255, 0);*/
/*    border-top: 0.8px solid;*/
/*    border-bottom: 0.8px solid;*/
    background-color: #282c34;
    border-radius: .5rem;
    color: rgba(255, 255, 255, 0.6);
}
.highlight .o, .highlight .ow {
    color: #c678dd;
}
.highlight .kc, .highlight .n {
    color: #cccccc;
}
.highlight .p {
    color: #e6c07b;
}
.highlight .c, .highlight .c1, .highlight .ch, .highlight .cm, .highlight .cs, .highlight .sd {
    color: #5c6370;
}
.highlight .bp, .highlight .nb, .highlight .no {
    color: #d19a66;
}
/*.md-main__inner {
    margin-top: 0;
}*/
.aplayer {
    background: #fff;
    box-shadow: 0 0px 40px rgba(0,0,0,0.1);
    border-radius: 15px;
}
[data-md-color-scheme="slate"] .aplayer {
    background: #222222;
    box-shadow: 0 0px 40px rgba(0,0,0,0.1);
    border-radius: 15px;
}
[data-md-color-scheme="slate"] .aplayer .aplayer-info .aplayer-music .aplayer-author {
    color: #ddd; 
}
[data-md-color-scheme="slate"] .aplayer .aplayer-lrc p {
    color: #ddd;
}
[data-md-color-scheme="slate"] .aplayer .aplayer-lrc:after {
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 16.1%, .8)));
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsl(0deg 0% 16.1% / 80%));
}
[data-md-color-scheme="slate"] .aplayer .aplayer-list ol li.aplayer-list-light {
    background: #111111;
}
[data-md-color-scheme="slate"] .aplayer .aplayer-list ol li:hover {
  background: #000000;
}
.aplayer .aplayer-lrc:before {
    height: 3%;
}

/*[data-md-color-primary=white] */
.md-search__form {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 15px;
    border: solid 0.8px rgba(255, 255, 255, 0.3);
}

[data-md-toggle=search]:checked~.md-header .md-search__form {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px 15px 0 0;
}
[data-md-toggle=search]:checked~.md-header .md-search__output {
    border-radius: 0 0 15px 15px;
    opacity: .95;
}
/*.Fang-Zheng-Song {
    font-family: Fang-Zheng-Song, Noto-Serif-SC, serif;
}*/

.md-search__inner {
    width: 6.5rem;
}

.caption-single {
    text-align: center;
    opacity: .5;
/*    font-family: 'Noto Serif SC';*/
    margin-block-start: -1em;
    font-size: .75rem;
}

.caption-multy {
    text-align: center;
    opacity: .5;
/*    font-family: 'Noto Serif SC';*/
    margin-block-start: 0em;
    font-size: .75rem;
}

/*.Noto-Sans-SC {
    font-family: -apple-system, PingFang SC, Fang-Zheng-Song, 'Noto Sans SC', serif;
}*/

@media screen and (min-width:45em) .md-typeset .inline {
    width: 14.7rem;
}

/*.md-typeset .inline {
width: 12.7rem;
}*/

.md-nav__link {
    transition: color 0.3s; -- , filter 0.3s ease;
/*    filter: blur(.6px);*/
}
.md-nav__link:hover {
    filter: none;
/*    font-weight: 600;*/
/*    color: inherit;*/
}
.md-nav__link--index {
    filter: none;
}
.md-nav__link--active {
    filter: none;
}
.md-nav__item--section>.md-nav__link[for] {
    filter: none;
}

[dir=ltr] .md-tabs__list {
    text-align: center;
    margin: auto;
/*    box-shadow: 0 40px 40px rgba(0,0,0,0.1);*/
}
.md-tabs__item {
    height: 1.9rem;
    text-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    /* border-radius: 20%; */
    padding-left: 0;
    padding-right: 0;
    margin-left: .5rem;
    margin-right: .5rem;
/*    border-bottom: solid 2px #ddd;*/
}
.md-tabs__link--active {
    border-bottom: solid 2px #ddd;
    height: 1rem;
}


.md-nav__link--active {
    font-weight: bolder;
}

.md-typeset table:not([class]) {
    border: none;
}
.md-typeset__scrollwrap {
    text-align: center;
}

[dir=ltr] .md-top {
    font-weight: 800;
}

[data-md-color-scheme="light"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}
/*@font-face {
  font-family: "<font>";
  src: "...";
}
:root {
  --md-text-font: "<font>"; 
}*/
.md-typeset img {
    border-radius: 15px;
    transition: opacity 0.4s ease;
}
.md-typeset img:hover {
    opacity: .7;
}
[data-md-color-scheme="slate"] .md-typeset h1 {
    color: #ffffff;
}



.md-typeset .admonition, .md-typeset details {
    box-shadow: 0 0px 20px rgba(0,0,0,0.05);
}

[data-md-color-scheme="slate"] .md-typeset .admonition, .md-typeset details {
    background-color: #222222;
}


[data-md-color-primary=white] .md-header {
/*  background-color: rgb(0 0 0 / 0%);
    background-image: url("https://pic.imgdb.cn/item/655c93c3c458853aefc44a0f.jpg");
    background-position: 5% 5%;
    background-size: 110% auto;
    background-image: url("https://s21.ax1x.com/2024/03/08/pFsE2Us.jpg");
    background-position: 10% 35%;
    background-size: 45% auto; */
    background-color: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    text-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    color: #000;
    box-shadow: 0 -40px 50px rgba(0,0,0,0.5);
}
[data-md-color-primary=white] .md-tabs {
  background-color: rgb(0 0 1 / 0%);
  line-height: 1;
/*  margin-top: -20px;*/
  color: #000;
  border: none;
}
[data-md-color-scheme="slate"] .md-tabs {
  background-color: rgb(0 0 1 / 0%);
  color: #fff;
}
[data-md-color-scheme="slate"] .md-header {
    background-image: none;
    background-color: rgba(0,0,0,0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: #fff;
}
/*.md-header--shadow {
    box-shadow: 0 -40px 50px rgba(0,0,0,0.5);
}*/
.md-typeset div.arithmatex {
  overflow-y: hidden;
}
[data-md-color-scheme="slate"] {
/*--md-default-bg-color: hsl(0deg 0% 9.04%);*/
    --md-default-bg-color: rgb(0,0,0);*/
}
.md-ellipsis {
    font-weight: 800;
    overflow-x: visible;
}
.md-header__topic {
/*    text-shadow: 0 0px 5px rgba(0,0,0,1);*/
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.md-typeset .emojione, .md-typeset .gemoji, .md-typeset .twemoji {
    height: 1.2em;
}
.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: none;
    box-shadow: none;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}


.md-typeset .md-tag {
    background: none;
    font-size: .8rem;
    line-height: 1;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0rem;
}

.md-typeset .md-tag[href] {
    color: #888888;
    font-weight: 100;
}

[data-md-color-scheme="slate"] .md-typeset .md-tag[href] {
    color: #ffffff;
}

.md-typeset .md-tags {
    margin-bottom: .125em;
    opacity: 0.7;
/*    text-align: center;*/
}

.md-tags {
    .md-tag {
        font-size: .8rem;
    }
}

.md-typeset .admonition.abstract {
    opacity: .66;
}

.md-tag::before {
/*    content: "#";*/
    font-family: 'Noto Serif SC';
}
[dir=ltr] .md-typeset .headerlink {
    margin-left: 0.2rem;
}

[dir=ltr] .md-typeset h1 {
    .headerlink {
        display: none;
    }
}

.md-footer {
/*    background-color: #eee;*/
    color: #000;
    background-color: rgba(255, 255, 255, 0);
/*    backdrop-filter: blur(3px);*/
/*    -webkit-backdrop-filter: blur(3px);*/
}
[data-md-color-scheme="slate"] .md-footer {
/*    background-color: #111;*/
    color: #fff;
}
/*.md-footer-meta__inner {
    padding: 0 0.2rem;
}*/
.md-footer-meta {
/*    background-color: #000;*/
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("https://s21.ax1x.com/2024/03/08/pFsE2Us.jpg");
    background-position: 50% 35%;
    background-size: 70% auto;
}
.md-social {
    padding: .2rem 0;
    padding-top: 0;
}

[dir=ltr] .md-typeset blockquote {
    font-weight: 600;
/*    font-family: PingFang SC, 'Noto Sans SC';*/
/*font-family: Fang-Zheng-Song, 'Noto Sans SC';*/
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='rgba(119,119,119,0.34)' d='M21 3a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455L2 22.5V4a1 1 0 0 1 1-1zm-1 2H4v13.385L5.763 17H20zm-9.485 2.412.447.688c-1.668.903-1.639 2.352-1.639 2.664.155-.02.318-.024.48-.009a1.76 1.76 0 0 1 1.613 1.745 1.75 1.75 0 0 1-1.75 1.75c-.537 0-1.05-.245-1.374-.59-.515-.546-.792-1.16-.792-2.155 0-1.75 1.228-3.318 3.015-4.093m5 0 .447.688c-1.668.903-1.639 2.352-1.639 2.664.155-.02.318-.024.48-.009a1.76 1.76 0 0 1 1.613 1.745 1.75 1.75 0 0 1-1.75 1.75c-.537 0-1.05-.245-1.374-.59-.515-.546-.792-1.16-.792-2.155 0-1.75 1.228-3.318 3.015-4.093'/%3E%3C/svg%3E");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 8%;
    border-radius: .5rem;
    color: #777;
    display: block;
    font-size: 16px;
    font-style: normal;
    height: auto;
    margin: 20px 0;
    padding: 20px 25px 16px 75px;
    width: 100%;
    opacity: .85;
}
.md-typeset blockquote p {
    font-family: Times New Roman, Noto Serif SC, serif;
}

.md-search-result .md-typeset .md-tag {
    font-size: .64rem;
}

/* valine */
.v[data-class=v] .vwrap .vemojis {
    max-height: 160px;
}

.md-typeset .admonition, .md-typeset details {
    border-radius: 15px;
    font-size: .75rem;
}

[dir=ltr] .md-typeset .admonition-title {
    border-radius: 15px 15px 0 0;
}

.v[data-class=v] .vwrap {
    border-radius: 15px;
}

/*a {
    transition: all 0.4s ease;
}

a:hover {
    opacity:.7;
    transform: scale(1.02);
}*/

.md-typeset details:not([open])>summary {
    border-radius: 15px;
}

.md-typeset summary:not(.focus-visible) {
    border-radius: 15px 15px 0 0;
}

.md-typeset .admonition {
/*    border: 0.01rem solid #448aff;*/
    border: none;
    font-family: Times New Roman, PingFang SC Light, PingFang SC, Noto Sans SC, Noto Serif SC, Serif;
}

.glightbox-container .ginner-container.desc-left .gslide-description {
    border-radius: 15px;
    margin-right: 5px;
}

.glightbox-clean .gslide-title {
    margin-bottom: 0;
}

/* friend */

.friend-link-div {
    height: 92px;
    margin: 10px 2% 10px;
    width: 45.5%;
    display: inline-block;
/*    box-shadow: 0 0px 40px rgba(0,0,0,0.1);*/
    box-shadow: 0 0px 20px rgba(0,0,0,0.05);
    border-radius: 25px;
    vertical-align: top;
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    &:hover {
        transform: scale(1.02);
    }
    .friend-link-avatar {
        width: 92px;
        float: left;
        height: 100%;
        img {
            width: 56px;
            height: 56px;
            margin: 18px;
            border-radius: 50%;
        }
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    .friend-link-info {
        margin: 18px 18px 18px 92px;
        color: #2d96bd;
        .friend-name-div {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            .friend-name {
                font-style: normal;
                font-weight: 800;
            }
            padding-top: 4px;
            line-height: 1.3;
        }
        .friend-bio {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #aaaaaa;
            line-height: 1.3;
            font-size: .7rem;
            margin-top: 7px;

        }
    }
}

@media only screen and (max-width: 680px) {
    .friend-link-div {
        width: 100%;
    }
}

/* subpage-box */

.subpage-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.subpage-box-cover {
    margin: 2px;
    height: 200px;
    @media only screen and (max-width: 2560px) {
        flex: 0 0 30%;
    }
    @media only screen and (max-width: 700px) {
        flex: 0 0 45%;
    }
    display:flex;
}
.subpage-box-cover:hover img {
    opacity:.7;
}
.subpage-box-cover a {
    border-bottom:none;
}
.subpage-box-cover a:hover {
    text-decoration: none;
}
.subpage-box-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    opacity:1;
    box-shadow: 0 0px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: opacity 0.3s ease;
}
.subpage-box-cover .image-caption {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
    font-family: Noto Serif SC, serif;
}
.subpage-box-cover .image-description {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}
.subpage-box-cover .image-hyper {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    color:#fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.tabtag {
/*    padding: 5px;
    border-radius: 20px;
    width: 10%;
    text-align: center;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.1);*/
    display: inline-block;
    position: relative;
    line-height: 1.4em;
    z-index: 0;
    transition: all .25s ease;
    color: inherit;
    padding: 0 3px;
    font-weight: 600;
    a {
        color: #000;
    }
}

[data-md-color-scheme="slate"] .tabtag {
    a {
        color: #fff;
    }
}

.tabtag:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
    transition: all .25s ease;
    background-color: rgba(142, 174, 107, 0.3);
}
.tabtag:hover::after {
    height: 100%;
}

.double-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin-top: .5em;
    margin-bottom: 0em;
}
.trible-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1%;
    margin-top: .5em;
    margin-bottom: 0em;
}
.double-picture-cover  {
    flex: 0 0 49%;
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
        margin-top: 5px;
    }
    display:flex;
    margin-bottom: 1%;
}
.trible-picture-cover  {
    flex: 0 0 32.6%;
    @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
        margin-top: 5px;
    }
    display:flex;
    margin-bottom: 1%;
}
.double-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}
.trible-picture-cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    border-radius: 5px;
}
.md-content {
    counter-reset: h2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
@media screen and (min-width: 76.25em) {
    .md-content {
/*        box-shadow: 0 0px 15px rgba(0,0,0,0.08);*/
        box-shadow: 0 20px 20px rgba(0,0,0,0.05);
        border-radius: 15px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: .8rem;
        padding-right: .8rem;
    }
}

[data-md-color-scheme="slate"] .md-content {
/*    background-color: #111111;*/
    background: linear-gradient(180deg, #000000, 100px, #222222);
}

.md-footer__link {
    margin-top: 0;
}

.md-typeset h1 {
  font-weight: 800;
  color: #24282d;
/*  text-align: center;*/
  font-size: 1.75em;
}
.md-typeset h2 {
    margin: 0.64em 0 0.64em;
    counter-reset: h3;
    font-weight: 600;
}
.md-typeset h3 {
    margin: 0.8em 0 0.8em;
    counter-reset: h4;
    font-weight: 600;
}
.md-typeset h4 {
    counter-reset: h5;
    font-weight: 600;
}
.md-typeset h5 {
/*    counter-reset: h6;*/
    font-weight: 600;
}
/*.md-typeset h2::before {
  counter-increment: h2;
  content: counter(h2) " ";
}
.md-typeset h3::before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}
.md-typeset h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}
.md-typeset h5::before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}*/
/*.md-search-result .md-typeset h2::before {
    content: none;
}
.md-search-result .md-typeset h3::before {
    content: none;
}
.md-search-result .md-typeset h4::before {
    content: none;
}
.md-search-result .md-typeset h5::before {
    content: none;
}*/
/*.md-typeset h6::before {
  counter-increment: h6;
  content: ounter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
}*/
.md-typeset h6 {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 600;
    margin: .64em 0;
/*    text-align: center;*/
    color: #24282d;
}
[data-md-color-scheme="slate"] .md-typeset h6 {
    color: #ffffff;
}
[data-md-color-scheme="slate"] .md-typeset a {
    color: #d2e2ff;
}

.vpanel {
    margin-top: 25px;
}

.md-typeset .site-author-image {
  border: 1px solid #eee;
  max-width: 120px;
  padding: 2px;
  border-radius: 50%;
  transition: transform 1s ease-out;
  margin-bottom: 2.78px;
}
.md-typeset .site-author-image:hover {
  transform: rotateZ(360deg);
}

.mkdocs-decrypt-form {
    text-align: center;
}

.wechat {
    text-align: center;
    align-items: center;
    font-family: Times New Roman, PingFang SC Light, PingFang SC, Noto Sans SC, Noto Serif SC, Serif;
    font-size: .5rem;
    opacity: .7;
    line-height: 1;
}
.wechat img {
    height: 90px;
    border-radius: 0px;
}